GOOGLE_API_KEY=your_api_key_here
MODEL_NAME=gemini-2.5-flash-lite

SHEETS_ID=1EII-FStGHhRy0E8CQSm6AM-d0U993l8B9z8TWNxH7Qc
GOOGLE_SERVICE_ACCOUNT=one_piece_service_account.json

EBAY_CLIENT_ID=your_ebay_client_id_here
EBAY_CLIENT_SECRET=your_ebay_client_secret_here

# eBay webhook (keep if you still need the account-deletion endpoint)
EBAY_VERIFICATION_TOKEN=your_verification_token_here
EBAY_ENDPOINT_URL=https://your-domain.com/ebay/account-deletion
